<div class="container">
  <span>
    <fa-icon [icon]="faSliders"></fa-icon>
    Filter by
  </span>



<!--  <button (click)="dropdownValue = 'option1'">Показать опцию 1</button>-->
<!--  <button (click)="dropdownValue = 'option2'">Показать опцию 2</button>-->
<!--  <div [ngSwitch]="dropdownValue">-->
<!--    <div *ngSwitchCase="'option1'">-->
<!--      &lt;!&ndash; Содержимое для опции 1 &ndash;&gt;-->
<!--    </div>-->
<!--    <div *ngSwitchCase="'option2'">-->
<!--      &lt;!&ndash; Содержимое для опции 2 &ndash;&gt;-->
<!--    </div>-->
<!--  </div>-->

</div>
