
<div class="container">


  <div class="signup-container">
    <div class="signup-header">
        <fa-icon [icon]="faArrowLeft"></fa-icon>
        <h3>Sign up</h3>
        <fa-icon [icon]="faXmark"></fa-icon>
    </div>

    <form action="" class="form-signup">

      <div class="form-item">
        <input type="text" class="form-input" required>
        <label class="form-label">Email</label>
      </div>

      <div class="form-fullname">
        <div class="form-item">
          <input type="text" class="form-input" required>
          <label class="form-label">First name</label>
        </div>
        <div class="form-item">
          <input type="text" class="form-input" required>
          <label class="form-label">Last name</label>
        </div>
      </div>


    </form>
  </div>

</div>
