<div class="container">
  <div class="car-image">
    <img class="big-image" src="./assets/Img.png">

    <div class="right-images">
                <!--TOP-->
      <img class="little-image" src="./assets/front.png" style="border-radius: 0 12px 0 0;" >
                <!--BOTTOM-->
      <img class='little-image' src="./assets/back.png" style="border-radius: 0 0 12px 0;">
    </div>

  </div>

  <div class="car-card">
    <div class="car-information">
    <div class="car-description">
          <!--    TITLE-->
      <h3>What Is the 2021 BMW 2 Series?</h3>
      <!--TODO FIX TEXT -->
      <!--    DESCRIPTION-->
      <p class="description">The coupe and convertible come in 230i and M240i form. The 230i is powered by a 248-horsepower, turbocharged 2.0-liter four-cylinder engine, while the M240i gets a 335-hp, turbocharged 3.0-liter inline-six. Both versions are offered with rear- or all-wheel drive and an eight-speed automatic or six-speed manual transmission.
        The Gran Coupe is powered by a turbocharged 2.0-liter four-cylinder that makes 228 hp in the 228i and 301 hp in the M235i. The Gran Coupe has standard all-wheel drive and an eight-speed automatic transmission.
      </p>
    </div>

    <div class="car-characteristics">
      <p class="characteristic">Fuel Type<strong>Gasoline</strong></p>
      <p class="characteristic">Drivetrain<strong>AWD</strong></p>
      <p class="characteristic">City MPG<strong>23</strong></p>
      <p class="characteristic">Engine<strong>2.0L I4 16V GDI DOHC Turbo</strong></p>
      <p class="characteristic">Exterior Color<strong>Jet Black</strong></p>
      <p class="characteristic">Interior Color<strong>Black</strong></p>
    </div>
  </div>
    <div class="sidebar">
      <app-sidebar-sell></app-sidebar-sell>
    </div>
  </div>
</div>
